<div class="contents expanded">

         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">

                  <div class="breadcrumb-main">
                     <h4 class="text-capitalize breadcrumb-title">Libros</h4>
                     <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                              <li class="button"><a href="#"><i class="uil uil-estate"></i>Añadir Nuevo</a></li>
                           </ol>
                        </nav>
                     </div>
                  </div>

               </div>
            </div>
            <div class="row">
               <div class="col-12">

                  <div class="card">
                     
                     <div class="card-body p-0">
                        <div class="table4 p-25 mb-30">
                           <div class="table-responsive">
                              <table class="table mb-0">
                                 <thead>
                                    <tr class="userDatatable-header">
                                       <th>
                                          <span class="userDatatable-title">Titulo</span>
                                       </th>
                                       <th>
                                          <span class="userDatatable-title">Autor</span>
                                       </th>
                                       <th>
                                          <span class="userDatatable-title">Acciones</span>
                                       </th>
                                    </tr>
                                 </thead>
                                 <tbody>

                                    <tr>
                                       <td>
                                          <div class="userDatatable-content">
                                             Mike
                                          </div>
                                       </td>
                                       <td>
                                          <div class="userDatatable-content">
                                             32
                                          </div>
                                       </td>
                                       <td>
                                          <div class="userDatatable-content">
                                             10 Downing Street
                                          </div>
                                       </td>
                                    </tr>


                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>
               </div>
            </div>
         </div>